#container{
    /* Width
        Height
        Position
    */
}
#header{
    background-color: blue;
    color: white;
}
#main{
    background-image: url("../Images/people.jpg");
}
#formu{
    background-color: white;
    opacity: 0.2;
}
#h2-main{
    font-size: 20px;
}
.footer{
    color: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}